:root {
  --primary-text-color: #434455;
  --main-heading-color: #ffffff;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --focus-nav-color: #404bbf;
  --footer-text-color: #e7e9fc;
  --logotype-part-color: #f4f4fd;
  --primary-bc-color: #f5f5f5;
  --secondary-bc-color: #2e2f42;
  --team-bc-color: #f4f4fd;
  --primary-button-color: #404bbf;
  --success-color: #31d0aa;
  --footer-media-color: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.5);
  --modal-color: #fcfcfc;
  --modal-btn-color: #2e2f42;
}
/** RESET */

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}
/** /RESET */

/** Body */
body {
  background-color: var(--main-heading-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  text-align: center;
}
.section-subtitle {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
}
.filter-subtitle {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.section-text {
  color: var(--primary-text-color);
}
.team-section-text {
  color: var(--primary-text-color);
  margin-top: 8px;
  margin-bottom: 8px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

/** Button*/
.button {
  color: var(--main-heading-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.hero-btn {
  border-radius: 4px;
  padding: 16px 32px;
}
.button.filter-btn {
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;
  padding: 12px 24px;
}
.button.primary {
  color: var(--accent-color);
  background-color: var(--logotype-part-color);
}

.button:is(:hover, :focus) {
  color: var(--main-heading-color);
  background-color: var(--primary-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border-color: var(--primary-button-color);
}

/** Logo */
.logotype {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}
.logotype-studio {
  color: var(--secondary-text-color);
}

/** Site header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  margin-left: 76px;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.address-list {
  display: flex;
}
.address-item:first-child {
  margin-right: 40px;
}
.header-link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover {
  color: var(--primary-button-color);
}
.header-link:focus {
  color: var(--accent-color);
}
.header-link.current {
  color: var(--focus-nav-color);
  position: relative;
}
.address-list .header-link {
  color: var(--primary-text-color);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
}
.address-list .header-link:hover {
  color: var(--primary-button-color);
}
.address-list .header-link:focus {
  color: var(--accent-color);
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  display: block;
  left: 0px;
  bottom: -1px;
  background-color: var(--focus-nav-color);
  border-radius: 2px;
}

/** Main content */
/** HERO */
.hero-title {
  background-color: var(--secondary-bc-color);
  color: var(--main-heading-color);
  font-size: 56px;
  line-height: 1.1;
  max-width: 498px;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
}
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0px;
  max-width: 1440px;
  margin: 0 auto;
}
.hidden-tag {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-btn {
  display: flex;
  margin: 55px auto 0 auto;
}
/** ABOUT */
.about {
  padding-top: 120px;
}

.about-list {
  display: flex;
  gap: 24px;
}
.about-item {
  max-width: 264px;
}
.about-soc-container {
  width: 100%;
  height: 114px;
  background-color: var(--team-bc-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.about-item .section-subtitle {
  margin-bottom: 8px;
}
/*
.about-list li:not(:last-child) {
  margin-right: 24px;
}
*/
/** DOING */

.doing-list {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  gap: 24px;
}
/*
.doing-list li:not(:last-child) {
  margin-right: 24px;
}
*/
/** TEAM */
.team {
  background-color: var(--logotype-part-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 72px;
  gap: 24px;
}
.team-item .card-container {
  text-align: center;
}
.team-item {
  background-color: var(--main-heading-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: #ffffff;
}
.team-soc-link:is(:hover, :focus) {
  background-color: var(--primary-button-color);
  outline: none;
}
/*
.team-list li:not(:last-child) {
  margin-right: 24px;
}
*/

/** CUSTOMERS */

.customer-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}
.customer-soc-item {
  width: calc((100%-150px) / 6);
  height: 88px;
}
.customer-soc-link {
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-soc-link:is(:hover, :focus) {
  border-color: var(--focus-nav-color);
  outline: none;
}
.customer-soc-icon {
  fill: #8e8f99;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-soc-link:is(:hover, :focus) .customer-soc-icon {
  fill: var(--focus-nav-color);
  outline: none;
}
/** FILTER */
.filter-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.filter-item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 72px;
  row-gap: 48px;
  column-gap: 24px;
}
.filter-item:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/*
.filter-buttons li:not(:last-child) {
  margin-right: 24px;
}
.filter li:not(:nth-child(n + 7)) {
  margin-bottom: 48px;
}
.filter li:not(:nth-child(3n + 3)) {
  margin-right: 24px;
}
*/
.card-container {
  padding: 32px 16px 32px 16px;
}
.filter-item .card-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.filter-item:hover .filter-cover-text {
  transform: translateY(0);
}
.filter-cover-text {
  position: absolute;
  top: 0;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 400;
  padding: 40px 32px;
  color: var(--logotype-part-color);
  background-color: var(--accent-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-cover-wrap {
  position: relative;
  overflow: hidden;
}
/** Footer */

.footer {
  background-color: var(--secondary-bc-color);
}
.footer-text {
  color: var(--footer-text-color);
  margin-top: 16px;
  max-width: 264px;
}
.footer-social-media {
  color: var(--main-heading-color);
  font-weight: 500;
}

.logotype-part {
  color: var(--logotype-part-color);
}
.footer.section {
  padding: 100px 0;
}

.footer-box {
  display: flex;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--footer-media-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
  fill: var(--logotype-part-color);
}
.footer-soc-link:is(:hover, :focus) {
  background-color: var(--success-color);
  outline: none;
}
.footer-media {
  margin-left: 120px;
}

/** MODAL WINDOW*/
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--backdrop-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 408px;
  min-height: 576px;
  background-color: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, 200%) scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:is(:hover, :focus) {
  background-color: var(--primary-button-color);
  outline: none;
  border: none;
}
.modal-soc-icon {
  fill: var(--modal-btn-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:is(:hover, :focus) .modal-soc-icon {
  fill: var(--main-heading-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
